.bk2210-parallax-window {
    min-height: 400px;
    background: transparent;

    @include medium {
    	min-height: 600px;
    }
}

.bk2210-parallax-mirror {
    border-top: 3px solid #ABD037;
    box-shadow: 0px 0px 18px #ABD037;
    border-bottom: 3px solid #ABD037;
    transform: skewY(-10deg) !important;

    img {
    	transform: skewY(10deg)!important;
    }
}