#compatible-devices #filters ul li {

	ul.pop-up {
		position: absolute;
		top: 100px;
		width: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: $white;
		padding: 1em;
		border-radius: 15px;
		z-index: 99;
		box-shadow: 0px 0px 10px $shade1;

		li {
			padding: 0;
			width: 50%;
			float: left;
			padding: .5em;

			@include small {
				width: 33.333%;
			}

			&:first-child {
				width: 100%;
				float: none;
				color: $black;

				img {
					border-radius: 50%;
					width: 200px;
					margin: 0 auto;
				}

				i {
					font-size: 1.2em;
					position: relative;
					bottom: -.2em;
					padding: 1em .5em;
				}

				.btn {
					font-size: 1.4rem;
				}
			}

			img {
				border-radius: 0;
				width: 100%;
			}

			.btn {
				font-size: 1.2rem;
			}

			i {
				font-size: 1em;
				padding: 0 .5em 1em;
				color: $black;
				font-weight: 700;
			}

		}
	}

	.pop-up-overlay {
		background: $opacityBlack;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 98;
	}

	.close {
		position:absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}