/* -------------------------------------------------------------------------
 Audio settings
---------------------------------------------------------------------------- */

#bk2210-audio-settings {
	color: $white;
	padding: 6em 0 11em;
	position: relative;
	margin-bottom: 5em;

	article {

		@include small {
			margin-top: 3em;
		}

		p {
			font-weight: 100;
		}
	}

	h2 {
		color: $green;
		padding-left: .4em;
		position: relative;
		text-shadow: 0 0 18px #abd037;

		&:before {
			content: "";
			display: block;
			width: 2px;
			height: 2em;
			background-color: $green;
			position: absolute;
			left: 0;
		}
	}

	aside {
		position: absolute;
		bottom: -80px;
		right: 0;

		@include small {
			bottom: -10px;
		}

		@include smallMedium {
			bottom: -110px;
		}

		img {
			max-width: 210px;

			@include small {
				max-width: 100%;
			}

			@include medium {
				max-width: 430px;
			}

			@include large {
				max-width: 430px;
			}
		}
	}
}