/* -------------------------------------------------------------------------
 Customise illumination
---------------------------------------------------------------------------- */

#bk2210-custom-head-unit {
	text-align: right;

	@include small {
		margin: 8em auto;
	}

	h2 {
		color: $green;
		padding-right: .4em;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 2px;
			height: .7em;
			background-color: $green;
			position: absolute;
			right: 0;
			margin-top: .2em;
		}
	}

	.bk2210-circle-badge {		
		display: none;

		@include small {
			display: block;
			position: absolute;
			left: 110px;
			top: -100px;
		}
	}

	#bk2210-illuminaion-control {
		position: relative;
		margin: 0 auto;
		max-width: 450px;

		@include small {
			width: 100%;
			max-width: 690px;
		}

		img:nth-of-type(1) {
			width: 220px;
			position: relative;
			z-index: -2;

			@include small {
				float: left;
				margin-top: -50px;
			}
		}

		.bk2210-connection {
			margin: 20px auto 30px;
			width: 50px;
			position: relative;

			@include small {
				margin: 110px auto 0;
			}
			
			.bk2210-connection-one {
				height: 80px;
				width: 30px;
				border-left: 2px solid $green;
				border-bottom: 2px solid $green;
				position: absolute;
				left: -40px;
				top: -55px;
				
				@include small {
					border-left: 0;
					height: 30px;
					width: 90px;
					left: -100px;
				}
			}

			img {

			}

			.bk2210-connection-two {
				height: 80px;
				width: 30px;
				border-top: 2px solid $green;
				border-right: 2px solid $green;
				position: absolute;
				right: -40px;
				bottom: -55px;

				@include small {
					height: 50px;
					width: 80px;
					right: -90px;
					bottom: -25px;
				}
			}
		}

			

		img:nth-of-type(2) {

			@include small {
				float: right;
				width: 340px;
				margin-top: 50px;
			}
		}
		
	}
}