/* -------------------------------------------------------------------------
 Download
---------------------------------------------------------------------------- */

#bk2210-download {
	text-align: center;

	h2 {
		font-weight: 900;
		text-transform: uppercase;
		font-size: 23px;
		margin: 2em 0;

		@include small {
			font-size: 32px;
		}

		small {
			display: block;
			font-weight: 100;
			text-transform: none;
		}
	}

	main {
		display: block;
		width: 100%;
	}

	a {
		display: inline-block;
		margin: 1em auto;
		width: 45%;

		@include small {
			display: inline-block;
			width: 30%;
		}

		img {
			margin: 0 auto;
			max-width: 100%;
		}
	}
}