/* -------------------------------------------------------------------------
 Multilangual
---------------------------------------------------------------------------- */

#multilangual {
	margin: 7em auto 6em;
	position: relative;

	h2 {
		padding-left: .4em;
		position: relative;
		display: inline-block;

		&:before {
			content: "";
			display: block;
			width: 2px;
			height: .7em;
			background-color: $green;
			position: absolute;
			left: 0;
			margin-top: .2em;
		}
	}

	p {
		line-height: 1.5;
	}

	.s-multilangual {
		position: absolute;
		color: $shade2;
		font-size: 30rem;
		z-index: -1;
		left: -.4em;
		top: -.1em;
	}
}