/* -------------------------------------------------------------------------
 Pioneer ARC
---------------------------------------------------------------------------- */

#bk2210-pioneer-arc {
	color: $white;
	position: relative;
	margin-top: -198px;
	z-index: 1;
	transform: skewY(-10deg) !important;
	border-top: 3px solid #ABD037;
    box-shadow: 0px 0px 18px #ABD037;
    border-bottom: 3px solid #ABD037;
    overflow: hidden;
    background-color: black;

    @include small {
    	margin-top: -218px;
    }

    @include smallMedium {
    	margin-top: -238px;
    }

    @include medium {
    	margin-top: -250px;
    }

    @include large {
    	margin-top: -320px;
    }


	&:before {
		content: "";
		background: url(../img/bg/pioneer-arc-intro.jpg) left 22% top -6em no-repeat;
		background-size: 860px;
		position: absolute;
	    width: 100%;
	    height: 110%;
	    transform: skewY(10deg)!important;
	    z-index: 0;
	    opacity: 0.8;

	    @include small {
	    	background-position: -110px -90px;
	    	background-size: 1000px;
	    }

	    @include smallMedium {
	    	background-position: left 53% bottom 52%;
	    	background-size: 130%;
	    }

	    @include medium {
	    	background-position: left 2% bottom 22%;
	    	background-size: 130%;
	    	height: 115%;
	    }

	    @include large {
	    	background-position: center bottom 16%;
	    	background-size: 2660px;
	    	height: 140%;
	    	background-image: url(../img/bg/pioneer-arc-intro-large.jpg);
	    }
	}

	article {
		margin: 9em 0 -2em;
		position: relative;
		transform: skewY(10deg)!important;


		@include small {
			margin: 10em 0;
			width: 90%;
		}

		@include smallMedium {
			margin: 14em 0 -1em;
			width: 80%;
			float: right;
		}

		@include medium {
			margin: 14em 10% 0em 0;
			width: 50%;
		}

		@include large {
			margin: 24em 10% 0em 0;
			width: 44%;
		}

		p {
			margin: 2em 0 13em;
			line-height: 1.2;
			height: 95px;
			font-weight: 100;

			@include small {
				margin: 2em 0;
				height: auto;
			}
		}

		footer {
			clear: both;
		}
	}

	footer.bk2210-row {
		margin: 3em 0;
		clear: both;
		justify-content: space-around;
		transform: skewY(10deg)!important;

		@include small {
			margin: -7em 0 13em 8em;
			width: 260px;
			float: left;
		}

		@include smallMedium {
			margin: 2em 30% 17em 12em;
			width: 50%;
			float: right;			
			justify-content: space-between;
		}

		@include medium {
			margin: 15em 28% 5em 0;
			width: 38%;
		}

		@include large {
			margin: 12em 35.5% 6em 0;
			width: 36.5%;
		}

		a {
			display: block;
			width: 35%;
			float: right;

			@include small {
				width: 45%;
			}

			@include large {
				width: 48%;
			}

			img {

			}
		}
	}
}