/* -------------------------------------------------------------------------
 Smartphone content
---------------------------------------------------------------------------- */

#bk2210-smartphone-content {
	text-align: right;

	h2 {
		padding-right: .4em;
		position: relative;
		display: inline-block;

		&:before {
			content: "";
			display: block;
			width: 2px;
			height: 1.7em;
			background-color: $green;
			position: absolute;
			right: 0;
			margin-top: .2em;
		}
	}

	#bk2210-advanced-remote {
		padding-bottom: 320px;
		position: relative;

		@include small {
			padding-bottom: 100px;
		}

		@include smallMedium {
			padding-bottom: 250px;
		}

		aside {
			position: absolute;
			top: 200px;

			@include small {
				top: 0;

				img {
					width: 100%;
					max-width: 370px;
				}
			}

			@include smallMedium {
				top: -180px;
				z-index: 5;

				img {
					max-width: 100%;
				}
			}

			@include medium {
				top: -200px;

				img {
					max-width: 500px;
				}
			}
		}
	}

	#bk2210-third-party {
		display: block;
		margin: 2em 0;
		position: relative;

		@include small {
			text-align: left;

			main {
				margin-top: -50px;
			}
		}

		&:before {
			content: "";
			display: block;
			width: 300px;
			height: 180px;
			background: url(../img/3rd-party-swoosh.png) no-repeat top center transparent;
			position: absolute;
			background-size: contain;
			top: -20px;
			top: -80px;
			left: -20%;

			@include small {
				left: 35%;
				width: 360px;
				height: 260px;
			}
		}

		aside {
			margin-top: 40px;
			margin-bottom: 20px;
		}
	}
}