/* -------------------------------------------------------------------------
 Source control
---------------------------------------------------------------------------- */

#bk2210-source-control {
	color: $white;
	padding: 3em 0 18em;
	position: relative;
	margin-bottom: 5em;
	text-align: right;

	@include small {
		padding: 3em 0 14em;
	}

	@include smallMedium {
		margin-bottom: 15em;
	}

	h2 {
		color: $green;
		padding-right: .4em;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 2px;
			top: .2em;
			height: 1.8em;
			background-color: $green;
			position: absolute;
			right: 0;
		}
	}

	aside {
		position: absolute;
		bottom: -60px;

		@include smallMedium {
			bottom: -170px;
		}

		img {
			max-width: 240px;

			@include small {
				max-width: 310px;
			}

			@include smallMedium {
				max-width: 390px;
			}

			@include medium {
				max-width: 450px;
			}
		}
	}
}