/* -------------------------------------------------------------------------
 Source control
---------------------------------------------------------------------------- */

#source-control {
	color: $white;
	padding: 3em 0 18em;
	position: relative;
	margin-bottom: 5em;
	text-align: right;

	h2 {
		color: $green;
		padding-right: .4em;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 2px;
			height: 2em;
			background-color: $green;
			position: absolute;
			right: 0;
		}
	}

	aside {
		position: absolute;
		bottom: -5rem;
	}
}