$small-width: 600px;
$smallMedium-width: 800px;
$medium-width: 1000px;
$large-width: 1200px;

@mixin small {
	@media (min-width: #{$small-width}) {
		@content;
	}
}

@mixin smallMedium {
	@media (min-width: #{$smallMedium-width}) {
		@content;
	}
}

@mixin medium {
	@media (min-width: #{$medium-width}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$large-width}) {
		@content;
	}
}