/* -------------------------------------------------------------------------
 Reset
---------------------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------
 Typography
---------------------------------------------------------------------------- */
html {
  margin-top: 0;
}

body {
  
}

h1, h2, h3, h4 {
   line-height: 1.5
}

h1 {
  
}

h2 {
  
}

h3{
   
}

p {
   line-height: 1.5;
}

ul, ol{
  overflow: hidden;
}


/* -------------------------------------------------------------------------
 Links
---------------------------------------------------------------------------- */

a {
    text-decoration: none;
}

/* -------------------------------------------------------------------------
 Icons
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Buttons
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 SVG Logo's
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Images
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Breadcrumb
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Lists
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Form elements
---------------------------------------------------------------------------- */

input[type="text"], 
input[type="search"], 
input[type="submit"], 
input[type="checkbox"], 
button,
textarea {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 0;
}

/* -------------------------------------------------------------------------
 Tables
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 WYSIWYG
---------------------------------------------------------------------------- */

.wysiwyg {
  ul,
  ol,
  table {
    color: gray;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 2em;
    margin: 2em 0;

    @media (min-width: 45em) {
      font-size: 1.5rem;
    }

    ol,
    ul {
      margin: .5em 0;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    padding: 2em;
    background-color: gray;
    margin: 2em;
    color: white;
  }

  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid gray;
    padding: 1em;
  }

  h1 {
    margin-top: 0;
    margin-bottom: .5em;
  }

  img { 
    margin: 2em 0;
  }

  p {
    margin: 1em 0;
  }
 
}
