/* -------------------------------------------------------------------------
 Reset
---------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

/* -------------------------------------------------------------------------
 Typography
---------------------------------------------------------------------------- */
.bk2210-superwrapper {
	margin-top: 0;
	font-size: 62.5%; /* Sets up the Base 10 stuff */
}

.bk2210-wrapper {
	font-family: $SSP;
	font-size: 16px;
	font-weight: 200;
	color: $shade1;
}

h1.bk2210-title, h2.bk2210-title, h3.bk2210-title, h4.bk2210-title {
	line-height: 1.5;
}

h1.bk2210-title {
	font-size: 53px;
	font-weight: normal;
	line-height: 1;

	@include small {
		font-size: 53px;
	}

	@include medium {
		font-size: 80px;
	}

	small {
		display: block;
		font-weight: 200;
		font-size: .35em;
	}

}

h2.bk2210-title {
	font-size: 26px;
	font-weight: 200;
	line-height: 1;
	margin-bottom: .2em;


	@include small {
		font-size: 46px;
	}

	@include medium {
		font-size: 56px;
	}

}

h3.bk2210-title{
   font-size: 16px;

   @include medium {
		font-size: 18px;
   }
}

p.bk2210-paragraph {
   line-height: 1.3;
   margin: 1em 0;

   @include medium {
   	font-size: 18px;
   }
}


small.bk2210-small  {
	font-size: .8em;
}

b.bk2210-bold ,
strong.bk2210-bold  {
	font-weight: 600;
}

sup.bk2210-sup  {
	vertical-align: super;
	font-size: .7em;
}

center {
	text-align: center;
	width: 100%;
}


/* -------------------------------------------------------------------------
 Links
---------------------------------------------------------------------------- */

a.bk2210-link {
	text-decoration: none;
	color: $shade1;
}

/* -------------------------------------------------------------------------
 Icons
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Buttons
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 SVG Logo's
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Images
---------------------------------------------------------------------------- */

img {
	display: block;
	max-width: 100%;
}

// .device {

// 	img {
// 		width: 210px;
// 	}
// }

/* -------------------------------------------------------------------------
 Breadcrumb
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Lists
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 Form elements
---------------------------------------------------------------------------- */

input[type="text"], 
input[type="search"], 
input[type="submit"], 
input[type="checkbox"], 
button,
textarea {
	appearance: none;
	outline: none;
	border: none;
	border-radius: 0;
}

/* -------------------------------------------------------------------------
 Tables
---------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------
 WYSIWYG
---------------------------------------------------------------------------- */

.bk2210-wysiwyg {
  ul,
  ol,
  table {
	color: gray;
	font-size: 15px;
	line-height: 1.5;
	padding-left: 2em;
	margin: 2em 0;

	@media (min-width: 45em) {
	  font-size: 15px;
	}

	ol,
	ul {
	  margin: .5em 0;
	}
  }

  ul {
	list-style-type: disc;
  }

  ol {
	list-style-type: decimal;
  }

  blockquote {
	padding: 2em;
	background-color: gray;
	margin: 2em;
	color: white;
  }

  table {
	border-collapse: collapse;
  }

  td {
	border: 1px solid gray;
	padding: 1em;
  }

  h1 {
	margin-top: 0;
	margin-bottom: .5em;
  }

  img { 
	margin: 2em 0;
  }

  p {
	margin: 1em 0;
  }
 
}
