/* -------------------------------------------------------------------------
 General
---------------------------------------------------------------------------- */
.container {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
    overflow: hidden;
}

/* -------------------------------------------------------------------------
 Grid
---------------------------------------------------------------------------- */

.col1, .col2, .col3{
    width: 100%;
}



