/* -------------------------------------------------------------------------
 General
---------------------------------------------------------------------------- */
.bk2210-wrapper {
	min-width: 320px;
}

.bk2210-page-section {
    margin: 2em auto;
}


#bk2210-site-main {
    margin-top: 139px; // Sticky  header height
}



/* -------------------------------------------------------------------------
 Grid
---------------------------------------------------------------------------- */

.bk2210-column {
    padding-left: 15px;
    padding-right: 15px;

    @include small {
    	padding-left: 45px;
    	padding-right: 45px;
    }

    @include medium {
    	padding-left: 85px;
    	padding-right: 85px;
    }
}


.bk2210-row {

	@include medium {
		max-width: $large-width;
	}
}


