@import 'custom/vars/*';

#login {
	padding: 2em 0 0;
}

body.login {
	background: $white;

	form {
		background: $white;
		padding: 26px 24px 26px;
		box-shadow: none;
	}

	label {
		color: $dark-gray;
	}

	h1 a {
		background-image: url('../img/avantgarden-logo.svg');
		background-size: 320px 162px;
		width: 320px;
		height: 162px;
	}

	a {
		color: $dark-gray;

		&:hover {
			color: $primary-color;
		}
	}

	#nav {
		a {
			color: $dark-gray;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.button-primary {
		width: 120px;
		float: right;
		color: white;
		background-color: $primary-color;
		//box-shadow: 0 1px 0 #333c4b;
		text-shadow: none;
		border: none;
		border-radius: 0;
		margin-top: 15px;
		outline: none;

		&:hover, &:active, &:focus {
			background-color: $light-gray;
			color: $white;
			outline: none;
		}
	}

	.message {
		border-left: 4px solid $primary-color;
	}

	#backtoblog {
		display: none;
	}
}

input[type=checkbox]:checked:before {
	color: $primary-color;
}

input[type=text],
input[type=password],
input[type=checkbox], {
	&:focus {
		border-color: $primary-color;
		box-shadow: 0 0 2px $primary-color;
	}
}